trigger:
- master

pool:
  vmImage: "ubuntu-18.04"

steps:
- script: |
    python -m pip install --upgrade pip setuptools wheel
    python -m pip install pipenv pytest
    python -m pipenv install
    python -m pytest
  displayName: 'Run fastapi tests'

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testResultsFiles: '**/test-*.xml'
    testRunTitle: 'Publish test results for Python $(python.version)'

- task: Docker@2
  displayName: Build an image
  inputs:
    containerRegistry: "official-docker-modmoto"
    repository: "modmoto/w3champions-mmr-service"
    command: "buildAndPush"
    buildContext: "."
    dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest
